<?php

# Common

// Db host Mysql
$db_host='localhost';
// Db user Mysql
$db_user='user';
// Db password Mysql
$db_password='password';

# Wordpress

// Db name wordpress Mysql
$wp_db='wordpress';
// Wordpress prefix
$wp_table_prefix='wp_';
// Address of your wordpress site (in wp-admin/options-general.php )
$wp_siteurl='http://david.mercereau.info/'; // With "/" to end, 

# hashover

// Base name hashover Mysql
$hashover_db='hashover';
// Folder of your hashover instance is install
$hashover_folder='../hashover/';
// Domain (if hashover is in multiple domain mod), if just 1 domain by default is "all"
$hashover_domain='all';
$hashover_notifications='yes';
$hashover_likes=null;
$hashover_dislikes=null;
// Specify how your thread slug in hashover db should be.
// Hashover creates a slug based on URL. This value should depend on how your
// destination software is generating URLs. Generally `/`s should become `-`s
// and don't include `/` at the end.
// Example:
// If your destination post URL becomes `http://example.com/2020/04/03/my-test-post`
// make it ':year-:month-:day-:title'.
// Supported variables:
// - :year			Published year of posts (4-digit)
// - :month			Published month of posts (2-digit)
// - :i_month		Published month of posts (Without leading zeros)
// - :day			Published day of posts (2-digit)
// - :i_day			Published day of posts (Without leading zeros)
// - :hour			Published hour of posts (2-digit)
// - :minute		Published minute of posts (2-digit)
// - :title			Filename
// - :post_title	Post title
// - :id			Post ID (not persistent across cache reset)
$hashover_thread_syntax_posts=':year-:month-:day-:title';
$hashover_thread_syntax_pages=':title';

// Change Author admin name in your comment
// Disable with : $hashover_admin_wp_authorFrom=null;
$hashover_admin_wp_authorFrom=null;
//~ $hashover_admin_wp_authorFrom="Admin"; // User admin in wordpress
//~ $hashover_admin_wp_authorTo="admin"; // User admin in hashover (change)
//~ $hashover_admin_wp_website=$wp_siteurl;  // change authorFrom with this website
//~ $hashover_admin_wp_email='admin@you.com'; // change authorFrom with this email

?>
